{# Define some runtime families #}

    [[PLATFORM_X86]]

    [[PLATFORM_XC40]]

    [[WEIGHTS]]

    [[LINUX]]
        [[[environment]]]
            FASTMEM         = \$TMPDIR
            BIG_DATA_DIR    = /data/users/lfric/data
            CANNED_MESH_DIR = $BIG_DATA_DIR/meshes/HEAD

{% if SPICE %}
        [[[directives]]]
            --mem=40960
            --gres=tmp:2048
            --partition=rhel7
        [[[job]]]
            batch system = slurm
            execution time limit = PT45M
{% else %}
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}
        [[[job]]]
            execution time limit = PT45M
{% endif %}

    [[GADI]]
        [[[environment]]]
            FASTMEM         = \$TMPDIR
            BIG_DATA_DIR    = /g/data/access/projects/access/lfric/data
            CANNED_MESH_DIR = $BIG_DATA_DIR/meshes/HEAD
            UMDIR = /g/data/access/projects/access/umdir
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}
        [[[job]]]
            batch system = pbs
            execution time limit = PT45M
        [[[directives]]]
            -l mem=40GB
            -l walltime=00:30:00
            -l storage=gdata/access+gdata/hr22+gdata/ki32+scratch/access+gdata/{{environ.get('PROJECT','NO_PROJECT')}}

            -q=normal
            -W umask=0022

{% for tasks in [1, 2, 6, 12, 18, 24] %}
    [[METO_LINUX_{{tasks}}_TASKS]]
        [[[directives]]]
            --ntasks={{tasks}}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -n {{tasks}}
    {% if tasks > 6 %}
            ROSE_APP_COMMAND_KEY = no_xios_server
    {% endif %}
{% endfor %}

    [[METO_LINUX_NORMAL_QUEUE]]
        [[[environment]]]
            OMP_NUM_THREADS = 1
            OMP_STACKSIZE   = 1g

{% for tasks in [1, 2, 6, 12, 18, 24] %}
    [[NCI_GADI_{{tasks}}_TASKS]]
        [[[directives]]]
            -l ncpus={{tasks}}
    {% if tasks > 20 %}
            -l mem=96GB
    {% endif %}
        [[[environment]]]
            ROSE_LAUNCHER_PREOPTS = -n {{tasks}}
{% endfor %}

    [[NCI_GADI_NORMAL_QUEUE]]

    [[meto-x86-ifort-gcc]]
        inherit = PLATFORM_X86
        pre-script = """
                     umask 0022
                     module purge
                     module use /project/extrasoftware/modulefiles.rhel7
                     module use /data/users/lfric/software/modulefiles.rhel7
                     module load environment/lfric/ifort/19.0_64/7
                     module list 2>&1
                     ulimit -s unlimited
                     """
       post-script = """
                     module purge
                     """

    [[meto-x86-gfortran-gcc]]
        inherit = PLATFORM_X86
        pre-script = """
                     umask 0022
                     module purge
                     module use /project/extrasoftware/modulefiles.rhel7
                     module use /data/users/lfric/software/modulefiles.rhel7
                     module load environment/lfric/gcc/6.1.0/9
                     module list 2>&1
                     """
        post-script = """
                      module purge
                      """

    [[rose_ana_x86]]
        inherit = PLATFORM_X86
        pre-script = """
                     module purge
                     module load ifort/16.0_64
                     module load um_tools/2023.08.1/openmp
                     module list 2>&1
                     """

    [[rose_ana_nci-gadi]]
        pre-script = """
                     module use /g/data/access/ngm/modules
                     module use /g/data/access/projects/access/modules
                     module use /g/data/hr22/modulefiles
                     module load cylc7/23.03
                     module load rose-picker
                     module load analysis3/21.10
                     module load ants/0.18.0
                     module list 2>&1
                     """

    [[nci-gadi-ifort-gcc]]
        pre-script = """
                     umask 0022
                     module purge
                     module use /g/data/access/ngm/modules
                     module use /g/data/access/projects/access/modules
                     module use /g/data/hr22/modulefiles
                     module load cylc7/23.03
                     module load /g/data/access/ngm/modules/envs/lfric/0/intel-openmpi
                     module list 2>&1
                     """
       post-script = """
                     module purge
                     """
        [[[remote]]]
            host = $(rose host-select gadi.nci.org.au)
        [[[job]]]
            batch system = pbs

    [[XC40]]
        [[[environment]]]
            UMDIR           = /projects/um1
            FASTMEM         = \$RAMTMP
            BIG_DATA_DIR    = /data/d03/lfric/data
            CANNED_MESH_DIR = $BIG_DATA_DIR/meshes/HEAD

        [[[remote]]]
            host = $(rose host-select xc)
        [[[directives]]]
            -S = /bin/bash
        [[[job]]]
            batch system = pbs
            execution time limit = PT45M

{% for tasks in [1, 2, 6] %}
    [[METO_XC40_{{tasks}}_TASKS]]
        [[[directives]]]
            -l ncpus={{tasks}}
            -l tmpsize = 3GB
            -q = shared
            -l mem = 8GB
        [[[environment]]]
            ROSE_LAUNCHER = mpiexec
            ROSE_LAUNCHER_PREOPTS = -n {{tasks}}
{% endfor %}

{% for tasks in [36,72,144,288] %}
    [[METO_XC40_{{tasks}}_TASKS]]
        [[[environment]]]
            {# Added node for XIOS server #}
            NUM_NODES = {{(tasks/36) | round(0, 'ceil') | int + 1}}
            TOTAL_MPI_TASKS = {{tasks}}
        [[[directives]]]
            {# Added node for XIOS server #}
            -l select = {{(tasks/36) | round(0, 'ceil') | int + 1}}
{% endfor %}

    [[METO_XC40_NORMAL_QUEUE]]
        [[[environment]]]
            ROSE_LAUNCHER = aprun
            CORES_PER_NODE = 36
            NUMA_REGIONS_PER_NODE = 2
            CORES_PER_NUMA_REGION = $((CORES_PER_NODE/NUMA_REGIONS_PER_NODE))
            OMP_NUM_THREADS = 1
            OMP_STACKSIZE   = 1g
            HYPERTHREADS = 1
            POTENTIAL_MPI_TASKS_PER_NUMA_REGION = \
              $(((CORES_PER_NUMA_REGION*HYPERTHREADS)/OMP_NUM_THREADS))
            MPI_TASKS_PER_NUMA_REGION = \
              $((POTENTIAL_MPI_TASKS_PER_NUMA_REGION > \
              TOTAL_MPI_TASKS?TOTAL_MPI_TASKS:POTENTIAL_MPI_TASKS_PER_NUMA_REGION))
            ROSE_LAUNCHER_PREOPTS = \
              -n $TOTAL_MPI_TASKS -ss -S $MPI_TASKS_PER_NUMA_REGION \
              -d $OMP_NUM_THREADS -j $HYPERTHREADS
        [[[directives]]]
            -q = normal

    [[meto-xc40-ifort-icc]]
        inherit = PLATFORM_XC40
        pre-script = """
                     source /data/d03/lfric/modules/setup
                     module load meto-environment/lfric/intel/17.0.0.098/9
                     module load cray-snplauncher/$CRAY_MPICH2_VER
                     module swap craype-haswell craype-ivybridge
                     module list 2>&1
                     """

    [[meto-xc40-crayftn-craycc]]
        inherit = PLATFORM_XC40
        pre-script = """
                     source /data/d03/lfric/modules/setup
                     module load meto-environment/lfric/cce/8.7.0/6
                     module load cray-snplauncher/$CRAY_MPICH2_VER
                     module swap craype-haswell craype-ivybridge
                     module list 2>&1
                     """

    [[rose_ana_xc40]]
        inherit = PLATFORM_XC40
        pre-script = """
                     module load nctools/1.8.6.5
                     module load um_tools/2023.08.1/openmp
                     module list 2>&1
                     """



    [[x86_weights]]
        inherit = WEIGHTS, LINUX
        pre-script = """
                     module purge
                     module use /data/users/lfric/software/modulefiles.rhel7
                     module use /project/extrasoftware/modulefiles.rhel7
                     module load environment/lfric/gcc/6.1.0/9
                     module load esmf/7.1.0r/gcc/6.1.0
                     module load scitools/production-os46-3
                     module load ifort/16.0_64
                     module load um_tools/2023.08.1/openmp
                     module list 2>&1
                     """
       post-script = """
                     module purge
                     """
        [[[environment]]]
            PATH = /project/extrasoftware/packages.rhel7/esmf/7.1.0r/gcc/6.1.0/bin/binO/Linux.gfortran.64.mpich3.default/:$PATH

{% if SPICE %}
        [[[directives]]]
            --partition=rhel7
{% endif %}

    [[nci-gadi_weights]]
        inherit = GADI
        pre-script = """
                     module purge
                     module use /g/data/access/ngm/modules
                     module use /g/data/access/projects/access/modules
                     module use /g/data/hr22/modulefiles
                     module load /g/data/access/ngm/modules/envs/lfric/0/intel-openmpi
                     module load cylc7/23.03
                     module load rose-picker
                     module load analysis3/21.10
                     module load ants/0.18.0
                     module list 2>&1
                     """
       post-script = """
                     module purge
                     """
        [[[remote]]]
            host = $(rose host-select gadi.nci.org.au)
        [[[job]]]
            batch system = pbs
